body {
    background-color: #2C3E50; 
    color: #ECF0F1;
    text-align: center;
}

.titulo {
    color: #8E44AD; 
    border: 5px solid #1ABC9C;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
}

.texto {
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    border: 3px solid #3498DB; 
    background-color: rgba(0, 0, 0, 0.4); 
    width: 80%;
}

}

.imagen {
    width: 10%;
    height: auto; 
}
